<h3>Kombinationen von BS Klassen</h3>
<h5> "ab" -> .d-md-from (zwei BS Klassen nötig)</h5>
<div class="">sichtbar ab xs (unnötig, da immer sichtbar)</div>
<div class="d-none d-sm-block">sichtbar ab sm</div>
<div class="d-none d-md-block">sichtbar ab md</div>
<div class="d-none d-lg-block">sichtbar ab lg</div>
<div class="d-none d-xl-block">sichtbar ab xl</div>
<div class="d-none d-xxl-block">sichtbar ab xxl</div>
<br><br>
<h5> "nur" -> .d-md-only (drei BS Klassen nötig)</h5>
<div class="d-sm-none">sichtbar nur auf xs</div>
<div class="d-none d-sm-block d-md-none">sichtbar nur auf sm</div>
<div class="d-none d-md-block d-lg-none">sichtbar nur auf md</div>
<div class="d-none d-lg-block d-xl-none">sichtbar nur auf lg</div>
<div class="d-none d-xl-block d-xxl-none">sichtbar nur auf xl</div>
<div class="d-none d-xxl-block">sichtbar "nur" auf xxl (nach oben endlos)</div>
<br><br>
<h5> "bis" (eine BS Klassen nötig, daher keine Helper-Klasse)</h5>
<div class="d-sm-none">sichtbar bis incl. sm (kleiner geht nicht)</div>
<div class="d-md-none">sichtbar bis incl. md</div>
<div class="d-lg-none">sichtbar bis incl. lg</div>
<div class="d-xl-none">sichtbar bis incl. xl</div>
<div class="d-xxl-none">sichtbar bis incl. xxl (danach gibt es nichts mehr)</div>

<br><br>

<h3>Starter Klassen</h3>
<h5> "ab" -> .d-md-from (zwei BS Klassen nötig)</h5>
<div class="">sichtbar ab xs (unnötig, da immer sichtbar)</div>
<div class="d-sm-from">sichtbar ab sm</div>
<div class="d-md-from">sichtbar ab md</div>
<div class="d-lg-from">sichtbar ab lg</div>
<div class="d-xl-from">sichtbar ab xl</div>
<div class="d-xxl-from">sichtbar ab xxl</div>
<br><br>
<h5> "nur" -> .d-md-only (drei BS Klassen nötig)</h5>
<div class="d-xs-only">sichtbar nur auf xs</div>
<div class="d-sm-only">sichtbar nur auf sm</div>
<div class="d-md-only">sichtbar nur auf md</div>
<div class="d-lg-only">sichtbar nur auf lg</div>
<div class="d-xl-only">sichtbar nur auf xl</div>
<div class="d-xxl-only">sichtbar "nur" auf xxl (nach oben endlos)</div>
<br><br>
<h5> "bis" (eine BS Klassen nötig, daher keine Helper-Klasse)</h5>
<div class="d-sm-none">sichtbar bis incl. sm (kleiner geht nicht)</div>
<div class="d-md-none">sichtbar bis incl. md</div>
<div class="d-lg-none">sichtbar bis incl. lg</div>
<div class="d-xl-none">sichtbar bis incl. xl</div>
<div class="d-xxl-none">sichtbar bis incl. xxl (danach gibt es nichts mehr)</div>
