<h3>img tag</h3>
<img src="/assets/images/logo.png" alt="image">

<h3>config.js</h3>
<img src="{{ image }}" alt="image">

<h3>Sass: background image</h3>
<div class="o-image o-image__background"></div>
