{#
level:  Ebene der Navigation, hier root, also 1
pid:    Der Navigation kann optional eine uid übergeben werden, z.B. wenn eine Navigation in einem Content-Element
        verwendet wird.
#}

{% set level = 1 %}

<div id="navaccmenu{{ uid }}" class="c-navaccmenu">
    <ul class="level-{{ level }} list-unstyled">
        {% for item in items %}
            {% include '@component/navigation/navaccmenus/_navaccmenu-item/navaccmenu-item.twig' with {
                pid: uid,
                item: item,
                level: level
            } only %}
        {% endfor %}
    </ul>
</div>
