{#
componentBackground: Wenn der Background fluid ist, dann wird er im Container gesetzt, ansonsten hier, in der Componente.
#}

{% set componentBackground = tx_starter_background_fluid ? '' : tx_starter_background %}

{% extends '@component/containers/container.twig' %}

{% block moduleContentBlock %}

    <div id="c{{ uid }}" class="m-{{ CType }} {{ componentBackground }}">

        {% include '@component/module/moduleheaders/moduleheader.twig' with {
            'date': date,
            'header': header,
            'subheader': subheader,
            'overline': overline,
        } only %}

        {% include '@component/textmedias/textmedia.twig' with {
            'image': image,
            'imageorient': imageorient,
            'grid': grid,
            'bodytext': bodytext,
        } only %}

        {% include '@component/module/modulefooters/modulefooter.twig' with {
            'tx_starter_cta_link': tx_starter_cta_link,
            'tx_starter_cta_text': tx_starter_cta_text,
        } only %}

    </div>

{% endblock %}
