@font-face {
    font-family: 'Coming Soon';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('assets/fonts/coming-soon-v17-latin/coming-soon-v17-latin-regular.woff2') format('woff2'), 
        url('assets/fonts/coming-soon-v17-latin/coming-soon-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
