<ul class="list-unstyled">
    <li class="">
        <div>
            <a href="#">Item 1</a>
            <span class="" data-bs-toggle="collapse" data-bs-target="#item1-collapse">
                VVV
            </span>
        </div>
        <ul class="list-unstyled collapse" id="item1-collapse">
            <li><a href="#">SubItem 11</a></li>
            <li><a href="#">SubItem 12</a></li>
            <li><a href="#">SubItem 13</a></li>
        </ul>
    </li>
    <li class="">
        <span class="" data-bs-toggle="collapse" data-bs-target="#item2-collapse">
            Item 2 VVV
        </span>
            <ul class="list-unstyled collapse" id="item2-collapse">
                <li>
                    <span class="" data-bs-toggle="collapse" data-bs-target="#item21-collapse">
                        SubItem 21 VVV
                    </span>
                    <ul class="list-unstyled collapse" id="item21-collapse">
                        <li>
                            <span class="" data-bs-toggle="collapse" data-bs-target="#item211-collapse">
                                SubSubItem 211 VVV
                            </span>
                            <ul class="list-unstyled collapse" id="item211-collapse">
                                <li>
                                    <div class="collapse" id="item21-collapse">
                                        <ul class="list-unstyled">
                                            <li><a href="#">SubSubSubItem 2111</a></li>
                                            <li><a href="#">SubSubSubItem 2112</a></li>
                                            <li><a href="#">SubSubSubItem 2113</a></li>
                                            <li><a href="#">SubSubSubItem 2114</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#">SubItem 22</a></li>
                                <li><a href="#">SubItem 23</a></li>
                                <li><a href="#">SubItem 24</a></li>
                            </ul>
                        </li>
                        <li><a href="#">SubSubItem 212</a></li>
                        <li><a href="#">SubSubItem 213</a></li>
                        <li><a href="#">SubSubItem 214</a></li>
                    </ul>
                </li>
                <li><a href="#">SubItem 22</a></li>
                <li><a href="#">SubItem 23</a></li>
                <li><a href="#">SubItem 24</a></li>
            </ul>
    </li>
    <li class="">
        <a href="#">Item 3</a>
        <span class="" data-bs-toggle="collapse" data-bs-target="#item3-collapse">
            VVV
        </span>
        <ul class="list-unstyled collapse" id="item3-collapse">
            <li><a href="#">SubItem 31</a></li>
            <li><a href="#">SubItem 32</a></li>
            <li><a href="#">SubItem 33</a></li>
        </ul>
    </li>
</ul>
