<div class="c-component">

    <p> {{ text }} </p>
    <p> Drei Bespiele ein Objekt ein zubinden, jeweils mit Namespacing 'draft': </p>

    {% include '@draft/objects/object.twig' %}
    {% include '@draft/objects/object--v1.twig' %}
    {% include '@draft/objects/object-other/object-other.twig' %}

</div>
