{#
siehe src/ui/2-components/accordions/accordion.twig
#}

<div id="collapse{{ itemUid }}"
     class="accordion-collapse collapse"
     aria-labelledby="heading{{ itemUid }}"
     data-bs-parent="{{ toggle|default(true) ? '#' ~ uid }}">

    <div class="accordion-body">
        {% if text and image %}
            {% include '@component/textmedias/textmedia.twig' with {
                'image': image,
                'imageorient': imageorient,
                'grid': grid,
                'text': text,
            } only %}
        {% elseif text %}
            {% include '@object/rtes/rte.twig' with {
                'rte': text
            } only %}
        {% elseif image %}
            {% include '@object/pictures/picture.twig' with image only %}
        {% else %}
            sorry, no content given
        {% endif %}
    </div>

</div>
